

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A single marker example" />
        <style>
            html,
            body,
            #container {
                margin: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>

        <div id="container"></div>
        <script type="text/javascript" src="https://mapgl.2gis.com/api/js/v1"></script>
        <script type="text/javascript">
            const map = new mapgl.Map('container', {
                center: [55.4507, 58.3656],
                zoom: 9,
                key: '1b458161-13e0-4b5e-9f94-4b8accfd9473',
            });
            const marker = new mapgl.Marker(map, {
                coordinates: [56.0105, 58.2502],
            });
            const polyline = new mapgl.Polyline(map, {
                coordinates: [
                    [53.848799, 56.790039],
                    [53.902344, 56.681551],
                    [53.840694, 56.60481],
                    [54.243966, 56.4639],
                    [54.40704, 56.393368],
                    [54.575389, 56.538775],
                    [54.681828, 56.504214],
                    [54.73756, 56.434886],
                    [54.846886, 56.423498],
                    [54.933109, 56.381187],
                    [54.944434, 56.340797],
                    [54.978166, 56.3358],
                    [55.01239, 56.322092],
                    [55.021733, 56.343822],
                    [55.167948, 56.330858],
                    [55.213574, 56.350252]
                ],
            });

            const polyline1 = new mapgl.Polyline(map, {
                coordinates: [
                    [64.927917, 56.772644],
                    [64.964767, 56.717486],
                    [65.011485, 56.592429],
                    [64.987968, 56.56663],
                    [64.989859, 56.543123],
                    [65.009828, 56.492666],
                    [65.189723, 56.364076],
                    [65.128233, 56.324849],
                    [65.148647, 56.28661],
                    [65.306953, 56.275161],
                    [65.549213, 56.286273],
                    [65.674915, 56.26387],
                    [65.677893, 56.196608],
                ],
            });
        </script>
    </body>
</html>